{% load static %}
<html>
    <head>
        <title>Operations</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/operkassa.css' %}">
    </head>
    <body>

        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'oper_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Operkassa</a></h1>
        </div>


        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>