<html>
    <head>
        <title>Operations</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Operations</a></h1>
        </div>

        <div>
            <table border="1">

                <!--
                    <thead>
                        TH1
                    </thead>

                    <thead>
                        TH2
                    </thead>
                -->

                <tr>
                    <td>
                        T 1-1
                    </td>
                     <td>
                        T 1-2
                    </td>
                </tr>

                <tr>
                    <td>
                        T 2-1
                    </td>
                    <td>
                        T 2-2
                    </td>
                </tr>

            </table>

        </div>
    </body>
</html>