h1 a {
    color: #FCA205;
}

body {
    padding-left: 15px;
}

table {
    margin: 20px;
}

thead {
    background-color: lightblue;
}

th {
    text-align: center;
}

tbody tr:nth-child(2n) {
    background-color: lightgray;
}

tbody tr:nth-child(2n+1) {
    background-color: #999999;
}

tfoot {
    background-color: lightgreen;
    text-align: right;
}

td {
    padding: 5px;
}

.page-header h1 {
    text-align: center;
}